---
layout: layout.njk
title: Dataset list
description: A list of the biggest datasets for maching learning
tags: post
---
<h1 class="post-title">Dataset list</h1>
<div class="post-content">
    <p>I'd like to share my latest project: a list of the biggest datasets for machine learning: <a href="https://www.datasetlist.com">dataset list</a>.</p>
    <p>There's an increasing number of large, high quality datasets released each year and most of them are published on their own individual websites so it can be difficult to find them.</p>
    <p>I've been making a list of these datasets and now I'm putting it out there with as much info as I could find. Hopefully, this makes it easier for others to find the right dataset for their project.</p>
    <img width="100%" height="auto" src="/img/datasetlist.png">
</div>  