---
layout: layout.njk
title: Mapillary browser extension
description: Mapillary Chrome and Firefox browser extension
tags: post
---
<h1 class="post-title">Mapillary browser extension</h1>
<div class="post-content">
  <p>Mapillary is a street-level imagery platform powered by collaboration and computer vision. It's also the team I've been a part of for the past year.</p>
  <p>One tiny project I made before joining Mapillary was a Chrome browser extension that showcases amazing images on Mapillary that were uploaded by users. You can find it at the <a href="https://chrome.google.com/webstore/detail/mapillary-%E2%80%93-crowdsourced/lkokbfpnhgcnkhecedjgdemlohbaomjd">Chrome web store</a>. There's also a <a href="https://addons.mozilla.org/en-US/firefox/addon/mapillary/">Firefox add-on</a> now available.</p>
  <p>It lets you see an awesome image every time you open a new tab and you can start exploring from there.</p>
  <p>I've been updating it, adding fresh images and tweaking and simplifying it for a smoother experience. You can see the source code in the <a href="https://github.com/mapillary/mapillary-chrome-extension">mapillary-chrome-extension</a> repository and use it as a starting point for your new browser extension.</p>
  <img width="100%" height="auto" src="/img/alps.jpg">
</div>