<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{title}}</title>
  <meta name="description" content="{{description}}">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
  <div role="main">
      <div class="sidebar">
          <div class="contact">
              <h2 class="name">Nikola Pleša</h2>
              <p class="description">I'm a developer at <a href="https://www.mapillary.com" target="_blank">Mapillary</a> <br>This is my blog with stuff I'm working on.</p>
              
              <div class="social">
                <a href="mailto:nickplesha@gmail.com" class="mail"><i class="fas fa-envelope"></i></a>
                <a href="http://www.linkedin.com/pub/nikola-ple%C5%A1a/91/6b2/301" target="_blank" class="ln"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/nickplesha" target="_blank" class="gh"><i class="fab fa-github"></i></a>
              </div>
          </div>
      </div>
      <div class="content">
        <div class="post">
          {{ content | safe }}
        </div>
        <a href="/">&#8592; Other posts</a> 
      </div>    
  </div>

<footer>
    <div>© 2019 Nikola Pleša</div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55917238-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
